.location-wrapper {
    display: flex;
}
.location-inner {
    max-width: 560px;
    width: 100%;
    margin: 0 20px 0 0;
}
.location h2 {
    margin-bottom: 32px;
}
.location .content-block {
    max-width: max-content;
}
.content-block__history {
    margin: 0 0 32px 0;
    max-width: 628px;
    width: 100%;
}
.content-block__history-link {
    display: flex;
    max-width: fit-content;
    background: #0075FF;
    border-radius: 8px;
    padding: 12px 24px;
    margin-bottom: 32px;
}
.content-block__history-link a {
    font-family: 'GolosText-Medium', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.content-block__history-link img {
    margin-right: 16px;
}
.content-block__history-rating {
    display: flex;
}
.rating-cart span{
    font-family: 'GolosText-Regular', sans-serif;
    font-size: 16px;
    color: #0E1C25;
}
.content-block__history-rating .rating-cart:first-child{
    margin-right: 16px;
}

.location .rating-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #DCECFF;
    border-radius: 8px;
}

.location .rating-logo {
    max-width: 120px;
    margin-bottom: 16px;
}

.location .rating-star {
    width: 24px;
    height: 24px;
}
.content-block__history-description {
    max-width: 560px;
    width: 100%;
    font-family: 'GolosText-Regular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #252525;
}
.content-block__history-description p {
    font-size: 14px;
}
#location-map {
    max-width: 728px;
    max-height: 698px;
    width: 100%;
}
.content-block__location {
    border: 1px solid #E4E4E4;
    border-radius: 12px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .location-inner {
        max-width: 768px;
        margin: 0 0 16px 0;
    }
    .content-block__history {
        max-width: 768px;
    }
    .location h2 {
        margin-bottom: 16px;
    }
    .location-wrapper {
        display: block;
    }
    .content-block__history-link {
        max-width: 768px;
        width: 100%;
    }
    .content-block__history-description {
        max-width: 768px;
        font-size: 12px;
        line-height: 14px;
    }
    #location-map {
        max-width: 728px;
        max-height: 256px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .location h2 {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 320px) {
    .location .rating-logo {
        max-width: 90px;
    }
    .content-block__history-link a {
        font-size: 12px;
        line-height: 14px;
    }
}