h2 {
    margin-bottom: 32px;
}
.services h3 {
    margin-bottom: 32px;
}
.content-columns {
    width: 100%;
}
.content-block__list-item {
    display: flex;
    margin-bottom: 16px;
}

.content-block__list-item span {
    font-family: 'Unbounded-Regular', sans-serif;
    display: flex;
    max-width: 48px;
    max-height: 48px;
    width: 100%;
    color: #0D81ED;
    background: #E7F3FE;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.content-block__list-item p {
    width: 100%;
    background: #FFFFFF;
    padding: 16px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .services .content-columns {
        flex-wrap: wrap;
    }
    .services .content-column:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .services .content-columns:first-child {
        margin-bottom: 20px;
    }
    .services .content-block {
        padding: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .services .content-columns {
        flex-wrap: wrap;
    }
    .services .content-column:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .services .content-columns:first-child {
        margin-bottom: 20px;
    }
    .services .content-column {
        margin-right: 0;
    }
    .services .content-block {
        padding: 16px;
    }
}