.specialists .content-block {
    display: block;
}

.specialists .content-block:first-child {
    margin-bottom: 0;
}

.specialists .content-block:not(:last-child) {
    margin-right: 20px;
}

.content-block__image-wrap {
    max-width: 375px;
    margin-bottom: 32px;
}

.specialists img {
    width: 100%;
    height:auto;
}

.specialists h3 {
    margin-bottom: 16px;
}

.specialists .specialists-post {
    border-radius: 8px;
    margin-bottom: 32px;
    /*width: 256px;*/
    padding: 16px 24px;
    color: #0D81ED;
    background: #E7F3FE;
}

.specialists-post span {
    font-family: GolosText-Regular, sans-serif;
    font-size: 16px;
    line-height: 19px;

}

.specialists p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    align-self: stretch;
    flex-grow: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .specialists p {
        font-size: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .specialists .content-columns {
        flex-wrap: wrap;
    }
    .specialists .content-block:not(:last-child) {
        margin-right: 0;
    }

    .specialists .content-block:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .specialists .content-columns {
        flex-wrap: wrap;
    }
    .specialists .content-block:not(:last-child) {
        margin-right: 0;
    }

    .specialists .content-block:not(:last-child) {
        margin-bottom: 20px;
    }
}