.specialists {
    margin-bottom: 64px;
}

.specialists h3 {
    margin: 16px 0;
    line-height: 120%;
}

.specialists-span__qualification {
    font-family: 'GolosText-Medium', sans-serif;
    font-size: 16px;
    line-height: 11px;
    display: block;
    width: fit-content;
    color: #FFFFFF;
    background: #0075FF;
    border-radius: 6px;
    padding: 16px;
}

.specialists-span__experience {
    font-family: 'GolosText-Regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: block;
    width: fit-content;
    color: #0075FF;
    border: 1px solid #0075FF;
    border-radius: 6px;
    padding: 16px;
}

@media screen and (max-width: 1024px) {
    .specialists {
        margin-bottom: 32px;
    }

}

@media screen and (max-width: 768px) {
    .specialists {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 480px) {
    .specialists h3 {
        margin: 8px 0;
    }
}

@media screen and (max-width: 320px) {
    .specialists {
        margin-bottom: 16px;
    }

}