@font-face {
    font-family: 'Unbounded-Medium';
    src: url('./fonts/Unbounded-Medium.ttf') format('truetype');,
    src: url('./fonts/Unbounded-Medium.woff') format('woff');,
    src: url('./fonts/Unbounded-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Unbounded-Regular';
    src: url('./fonts/Unbounded-Regular.ttf') format('truetype');
    src: url('./fonts/Unbounded-Regular.woff') format('woff');,
    src: url('./fonts/Unbounded-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'GolosText-Medium';
    src: url('./fonts/GolosText-Medium.ttf') format('truetype');,
    src: url('./fonts/golos-text_medium.woff') format ('woff');,
    src: url('./fonts/golos-text_medium.woff2') format ('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'GolosText-Regular';
    src: url('./fonts/GolosText-Regular.ttf') format('truetype');,
    src: url('./fonts/golos-text_regular.woff') format ('woff');,
    src: url('./fonts/golos-text_regular.woff2') format ('woff2');
    font-style: normal;
    font-weight: 400;
}