.header {
    margin: 52px 0 68px;
}

.header-logo{
    width: 289px;
    height: 34px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .header-background {
        height: 683px;
    }
    .header-logo{
        width: 286px;
        height: 34px;
    }
}