.main-hero {
    margin-bottom: 32px;
}
.main-hero__title {
    margin-bottom: 16px;
    line-height: 120%;
}
.main-hero__link {
    margin-bottom: 64px;
}
.main-hero__link a {
    font-family: 'GolosText-Regular', sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}
.main-hero__link img {
    margin-right: 24px;
}

.main-hero__phone {
    display: flex;
    font-family: 'Unbounded-Medium', sans-serif;
    font-size: 20px;
    line-height: 15px;
    padding: 25px 30px;
    margin: 0 24px 0 0;
    background: #FFFFFF;
    color: #0E1C25;
    border: 1px solid #DCECFF;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    max-width: 598px;
    width: 100%;
}

.main-hero__links {
    display: flex;
}

.main-hero__social-networks {
    display: flex;
    max-width: 100%;
    width: 100%;
    column-gap: 20px;
}
.social-networks__column {
    display: flex;
    width: 100%;
    column-gap: 20px;
}
.social-networks__link {
    font-family: 'GolosText-Medium', sans-serif;
    font-size: 20px;
    line-height: 14px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 32px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.social-networks__link:hover {
    color: #0E1C25;
    background-color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
    .main-hero__link {
        margin-bottom: 32px;
    }
    .main-hero__links {
        flex-wrap: wrap;
    }
    .main-hero__phone {
        max-width: 100%;
        margin: 0 0 32px 0;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 630px) {
    .main-hero__social-networks {
        flex-wrap: wrap;
        row-gap: 24px;
    }
}

@media screen and (max-width: 480px) {
    .main-hero__link {
        margin-bottom: 24px;
    }
    .main-hero__link a {
        font-size: 14px;
        line-height: 17px;
    }
    .main-hero {
        margin-bottom: 28px;
    }
    .main-hero__social-networks {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .social-networks__link {
        padding: 21px 16px;
    }
}

@media screen and (max-width: 320px) {
    .main-hero__link {
        margin-bottom: 16px;
    }
    .main-hero__link a {
        font-size: 14px;
        line-height: 17px;
    }
    .main-hero {
        margin-bottom: 24px;
    }
    .main-hero__social-networks {
        row-gap: 16px;
    }
    .social-networks__column {
        column-gap: 16px;
    }
    .social-networks__link {
        padding: 21px 16px;
    }
}







